node_modules/
dist/
.next/
.env
*.log
generated/

.claude
/Users/macbookair/WebstormProjects/reddit/apps/api/.agents
/Users/macbookair/WebstormProjects/reddit/apps/api/.windsurf
/Users/macbookair/WebstormProjects/reddit/apps/api/.claude